<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
      <title>Proser</title>
      <link rel="stylesheet" href="/src/style.bundle.css" >
      <script>var INITIAL_STATE = <%- JSON.stringify(state) %>;</script>
  </head>
  <body>
    <div id='content'>
      <%- renderedHtml %>
    </div>
    <script src="/src/app.bundle.js" charset="utf-8"></script>
  </body>
</html>
