@import 'mixin_inputField';

.poemEntry {
  input{
    @include inputField();
    &:focus, &:active {
      outline:0px !important;
      -webkit-appearance:none;
    }
  }
  textarea {
    line-height: 2em;
    letter-spacing: 1px;
    margin: 20px 0;
    border:none;
    background: none;
    display: block;
    width: 40%;
    &:focus, &:active {
      outline:0px !important;
      -webkit-appearance:none;
    }
  }
}
